// variable
$bg-color: antiquewhite;
$color: black;
$p-img-width: 110px;
$QR-img-width: 150px;
$s-img-width: 70px;
$padding-left: 15px;

body {
  background-color: $bg-color;
  margin: 0;
  padding: 0;
}
.pan-card-section {
  display: flex;
  justify-content: center;
  padding: 10%;
}
.pan-card {
  background-image: linear-gradient(to top right, rgb(240, 164, 240), #09458a);
  opacity: 0.9;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 400px;
  width: 650px;
  border-radius: 30px;

  h2 {
    font-size: 17px;
  }
  .pan-card__h2 {
    color: rgb(19, 19, 95);
  }
  h3 {
    font-size: 14px;
    margin: 1px;
    color: rgb(19, 19, 95);
  }
  h4 {
    font-size: 16px;
    margin: 2px;
  }

  .pan-card__div1 {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    text-align: center;
    padding-left: $padding-left;
    h1 {
      font-size: 18px;
      text-shadow: 2px 2px 8px #9e0f5b;
    }
    img {
      width: $s-img-width;
      align-items: center;
      padding-top: 10px;
    }
  }

  .pan-card__div2 {
    grid-column-start: 1;
    grid-column-end: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    .pan-card__inner-div2-1 {
      padding-left: $padding-left;
    }
    .pan-card__inner-div2-2 {
      text-align: center;
      padding-left: $padding-left;
    }

    img {
      width: $p-img-width;
      align-items: center;
    }
  }
  .pan-card__div3 {
    grid-column-start: 2;
    img {
      width: $QR-img-width;
      align-items: center;
      padding-left: $padding-left;
    }
  }
  .pan-card__div4 {
    grid-row-start: 3;
    grid-column-start: 1;
    padding-left: $padding-left;
  }

  .pan-card__div5 {
    grid-row-start: 4;
    grid-column-start: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: $padding-left;
  }
}
