body {
  background-color: rgba(255, 200, 118, 0.1);
  margin: 0;
  padding: 0;

}
.header{
display: flex;
justify-content: center;
}
.header__div{
  text-align: center;
  font-family:cursive;
}

.form-section {
  display: flex;
  justify-content: center;
  background-image: url(img/background.jpg);
  background-repeat: repeat-x;
  margin:3% 10%;
  border-radius: 20%;
  box-shadow: 4px 4px 10px rgba(2, 2, 2, 0.5);
}

.login-form {
  background-color: rgba(95, 97, 97, 0.7);
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.login-form__heading {
  font-weight: bolder;
  color: black;
  text-align: center;
  font-size: 25 px;
  padding: 2px;

}

.login-form__forget {
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  font: weight 7px;
}

.login-form__label {
  text-align: left;
  margin-bottom: 10px;
}

.login-form__input {
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  border-style: none;
  border-radius: 100px;
  color: rgba(2, 2, 2, 0.7);
  background-color: rgba(52, 56, 56, 0.7);
}

.login-form__btn {
  background-color: #d270a2;
  color: #fff;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login-form__btn:hover {
  background-color: #af4c8e;
}

footer{
  display: flex;
justify-content: center;
background-color: #ccc;
margin-top: 6%;
}
.footer__div{

  text-align: center;
  color: #070606;
}